<% content_for :title, "Budgets" %>

<% if notice.present? %>
  <p class="notice"><%= notice %></p>
<% end %>

<div class="page-header">
  <h1>Budgets</h1>
  <div class="page-header__actions">
    <%= link_to "New budget", new_budget_path, class: "btn btn-primary" %>
  </div>
</div>

<ul id="budgets" class="budget-list">
  <%= render @budgets %>
</ul>
