<% content_for :title, "Editing transaction" %>

<%= link_to "Back to budget", @budget, class: "back-link" %>

<div class="page-header">
  <h1>Editing transaction</h1>
</div>

<div class="form-card">
  <%= render "form", budget: @budget, transaction: @transaction %>
</div>
